@media(max-width: 1100px){
    #clube-textos p{
    font-size: 1.8rem;
    }
}


@media(max-width: 768px){
    
    #img-planos{
        display: none;
    }


    #titulo p{
        font-size: 1.5rem;
        width: 100%;
    }

    #planos{
        flex-direction: column;
        
    }
}